* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

select {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
ul,
ol {
  list-style: none;
}
